<div class="content">
    <div class="page-heading">USER SIGN-IN</div>
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" [(ngModel)]="user.username" class="form-control" placeholder="@username">
        </div>
        
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="user.password" class="form-control">
        </div>

        <div class="mb-3">
        <label for="subject" class="form-label">Subject</label>
        <select class="form-select" aria-label="Default select example" name = "subject" [(ngModel)]="subject">
            <option value="" selected disabled hidden>Choose here</option>
            <option *ngFor="let subject of subjects" value="{{ subject }}">
                {{ subject }}
            </option>
          </select>
        </div>

        <p>Don't have an account? <a routerLink="/register">Sign Up</a></p>
        <button type="submit" (click)="validateUser()" class="btn btn-success">Sign In</button>
    </form>
</div>
