<nav class="navbar navbar-expand-lg"
    style="background-color: #1e3a5f; color: white; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold" routerLink="">Quizly</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left-aligned items -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white fw-light" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-light" routerLink="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-light" routerLink="adminLogin">Admin Login</a>
                </li>
            </ul>
            <!-- Right-aligned Logout link -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white fw-light" (click)="logout()" style="cursor: pointer;"
                        role="button">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>