<div
  class="landing-page"
  style="
    background-image: url('assets/gradient-international-day-education-background_23-2151120677.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  "
>
  <h1 class="display-4 text-white">Welcome to Quizly</h1>
  <p class="lead text-white">Start your journey to better learning.</p>
  <button
    value="Manage Questions"
    class="btn btn-warning btn-lg mb-2"
    style="margin-top: 20px;"
    (click)="showQuestion()">
    Manage Questions
  </button>

  <button
    value="Manage Questions"
    class="btn btn-warning btn-lg"
    style="margin-top: 20px;"
    (click)="showResults()">
    Manage Results
  </button>
</div>